# Jackson Python Sequences:

In Python, sequence is a generic term for an ordered collection of elements. Sequences provide powerful ways to store, access, and manipulate ordered collections of data. We actually have a choice of sequences: lists, tuples, arrays. As a matter of fact a string is a "sequence" in that it is an ordered sequence of characters. In sequences, ordered collection of elements, each element is assigned an index based on its position in the sequence, starting with 0.

## Python Sequences: Lists

Lists are among the most flexible and widely used data structure in Python. Lists allow you to store sets of information in one place, whether you have just a few items or millions of an item. They are essentially a collection of items in a particular order and you can put anything you want into a list. 

The syntax is simple: square brackets form the list

Each individual item has quotations and is separated by commas.

### Lists: Example

Below is a list called aussi_animals with a few types of animals indigenous to Australia.

In [1]:
aus_animals = [ 'wombats', 'dingos', 'kangaroos', 'wallabees', 'koala']
#How can you check to see the type of object you created?
print(type(aus_animals))

<class 'list'>

1. Create a list of the UN Security Council Members and assign it the variable un_sc

In [2]:
# your code here:
un_sc = ['China', 'France', 'Russian Federation', 'United Kingdom', 'United States']

2. What is the type of the variable un_sc?

In [3]:
# your code here:
print(type(un_sc))

<class 'list'>

3. What is the length of the variable un_sc?

In [4]:
# your code here:
print(len(un_sc))

5

## Another Way to Make a List. the list() method
So, we saw that we can make a list using square brackets. We can also make a list using the list() function

In [6]:
#4. Run this please: 
nums = list((1,2,3,4))
print(nums)

[1, 2, 3, 4]

That worked for numbers! Would it work the same for strings? Sure it does!

In [7]:
#5. Run this please: 
students = list(('Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya'))
print(students)

['Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya']

## Accessing Elements in a List

As with strings, lists can be accessed by index. To access an element in a list, write the name of the list, followed by the index of an item in square brackets.

In [8]:
#6 Example, run this please:
aus_animals = [ 'wombats', 'dingos', 'kangaroos', 'wallabees', 'koala']
print(aus_animals[1])

dingos

Recall, Python indexing starts with 0. So it makes sense that the item in position 1 would be dingos.
As we can see, Python returns the item without brackets of quotations. So what is the type of this object returned?

In [9]:
7.  #your answer here:
print(type(aus_animals[1]))

<class 'str'>

Yes, a string! So we can call string methods on the item using it's index in a list

In [10]:
#8 Run this example please:
print(aus_animals[1].capitalize())
print(aus_animals[2].title())

Dingos
Kangaroos

Let's say we wanted to make all of the countries in our un_sc variable all caps. One way to do it is like this:

In [12]:
un_sc = ['china', 'france', 'russia', 'united states of america','united kingdom']

# Use indexing to convert each element to uppercase
un_sc[0] = un_sc[0].upper()

un_sc[1] = un_sc[1].upper()

un_sc[2] = un_sc[2].upper()

un_sc[3] = un_sc[3].upper()
un_sc[4] = un_sc[4].upper()

print(un_sc)

['CHINA', 'FRANCE', 'RUSSIA', 'UNITED STATES OF AMERICA', 'UNITED KINGDOM']

## For loop with lists
This is where our for loop could come in handy. A faster way is to automate the uppercase method, taking each element in the list and applying the upper method to it (iterating through the list) and then saving the new uppercase country to a new list.

In [ ]:
#Let's iterate through the list and print the results making each element uppercase

In [13]:
#9. Run this please:
un_sc = ['china', 'france', 'russia', 'united states of america','united kingdom']
for country in un_sc:
    print(country.upper())

CHINA
FRANCE
RUSSIA
UNITED STATES OF AMERICA
UNITED KINGDOM

10. What would happen if I printed un_sc? Have you changed this list?

In [ ]:
#Your answer here using sentences: 
print(un_sc)
# Won't be updated since you haven't reassigned the values to un_sc

['china', 'france', 'russia', 'united states of america', 'united kingdom']

You may be wondering...can I just do it this way

In [15]:
un_sc = ['china', 'france', 'russia', 'united states of america','united kingdom']
for country in un_sc:
    country.upper()
print(un_sc)
# no

['china', 'france', 'russia', 'united states of america', 'united kingdom']

11. What did the previous code produce? Why? Your answer here using sentences:

It did the same thing where un_sc is the original list since the .upper() was not applied to change the value of the list itself.

How about this way (below)? Will this work?

In [ ]:
un_sc = ['china', 'france', 'russia', 'united states of america','united kingdom']
for country in un_sc:
    un_sc_upper = country.upper()
print(un_sc_upper)

# this won't work since this'll just make un_sc_upper the last word capitalized

UNITED KINGDOM

12. What result does the previous cell return? Why didn't it make each element in un_sc uppercase? Your answer here:
 this won't work since this'll just make un_sc_upper the last word capitalized

## Correct Way to Iterate and Make a New List: Make an Empty List and "Append" to it!

In [17]:
# 13, Run this please
#first initialize and empty list
un_sc_upper = []

#then iterate through the list, then make each element an uppercase and add it (append it) to the empty list.

un_sc = ['china', 'france', 'russia', 'united states of america','united kingdom']
for country in un_sc:
    un_sc_upper.append(country.upper())

print(un_sc_upper)

['CHINA', 'FRANCE', 'RUSSIA', 'UNITED STATES OF AMERICA', 'UNITED KINGDOM']

## What if I wanted to only grab certain countries that stated with 'u'? We can use a conditional and the append method

#14. Create a for loop. Using an if, else construction in your for loop, append countries to a list called 'u_countries' and append the rest of the countries to a list called 'non_u_countries'.

In [18]:
#Your code here:

u_countries = []

for country in un_sc:
    if country.lower().startswith("u"):
        u_countries.append(country)
    else:
        pass

print(u_countries)

['united states of america', 'united kingdom']

## Adding to a list
We can also use append to add an element to a list. For example, let's say we wanted to add Josh to our list of students.

In [19]:
15. #Please run the following code:
students = list(('Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya'))
students.append('Josh')
print(students)

['Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya', 'Josh']

What if we wanted to add several students to our list? We use the extend method!

In [30]:
#16. Will this work? Please run this code:
students = list(('Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya'))
students.extend('Didace', 'Jennifer')
print(students)

TypeError: list.extend() takes exactly one argument (2 given)

In [28]:
#What error did this return? How do interpret it? Your answer here:

In [31]:
#17. Extend works. But we must pass multiple elements to the extend function as a list.
#Please run this code and make sure it works.
students = list(('Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya'))
students.extend(['Didace', 'Jennifer'])
print(students)

['Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya', 'Didace', 'Jennifer']

In [32]:
#18. Extend can be used to add a list of elelments, a tuple(tuple...we will get to it!) of elements and even a string.
# Please read this code and run it.

#Initial list of students
students = ['Austin', 'Chris', 'Oliver', 'Nancy']

# Extending the list with another list
new_students_list = ['Dana', 'Shreya']
students.extend(new_students_list)

# Extending the list with a tuple
new_students_tuple = ('Anoushka', 'Aishwarya')
students.extend(new_students_tuple)

# Extending the list with a string (each character will be added as a separate element)
new_students_string = "Eve"
students.extend(new_students_string)

# Final list
print(students)

['Austin', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya', 'Anoushka', 'Aishwarya', 'E', 'v', 'e']

## What's a Tuple?

A tuple in Python is an immutable, ordered collection of elements, similar to a list. However, unlike lists, tuples cannot be modified after they are created, meaning you cannot add, remove, or change elements once the tuple is defined.

Key Characteristics of Tuples:

Ordered: The elements in a tuple are ordered, and you can access them using an index (just like in lists).

Immutable: Once a tuple is created, its contents cannot be changed (i.e., no adding, removing, or changing elements). But as we saw above, a tuple can be added to a list. 

Can contain mixed data types: A tuple can hold elements of different types, such as integers, strings, floats, and even other tuples or lists.

Indexable and iterable: You can access elements using an index and iterate over the elements using a loop.

Allows duplicates: Tuples can contain duplicate elements, just like lists

### Creating a Tuple:
Tuples are created by enclosing the elements inside parentheses () and separating them by commas.

In [33]:
# Creating a tuple with mixed data types
my_tuple = (1, 'apple', 3.14, 'banana')

print(my_tuple)       # Output: (1, 'apple', 3.14, 'banana')
print(my_tuple[1])    # Output: 'apple'

(1, 'apple', 3.14, 'banana')
apple

In [34]:
## Okay back to lists: other ways to add elements.
#Please run this code

composers = []
composers.append('Bach')
composers.append('Joplin')
composers.append('Debussy')
composers.append('Isang')
composers.append('Rachmaninoff')
print(composers)

['Bach', 'Joplin', 'Debussy', 'Isang', 'Rachmaninoff']

In [35]:
#What if I wanted to add a composer to the list but not at the end? Insert takes two arguments, index position, and element.

In [36]:
#19. Please run this code

composers.insert(2, 'Bhoi')
print(composers)

['Bach', 'Joplin', 'Bhoi', 'Debussy', 'Isang', 'Rachmaninoff']

In [ ]:
#20. Can you insert more than one element at a time?
#Please insert Dikshitar in position 1 and Saz in position 3 to your composer list in position.
# Your answer yes or no to the first question. And write code here:
composers.insert(1, "Dikshitar", 3, "Saz") # No

TypeError: insert expected 2 arguments, got 4

## Sort the previous list alphabetically: Sort and Sorted!
The primary difference between the list sort() and the sorted () function is that the sort() function will modifu the list it is called on. The sorted() function will create a new list containing a sorted version of the list it is given. The sorted() function will not modify the list passed as a parameter. If you want to sort a list but still have the original unsorted version, then you would use the sorted() funciton. If maintaing the orifinal order of the lis tis unimportant, then you can call the sort () function on the list.

In [38]:
#21. Please run this code:
sorted_composers = sorted(composers)
print(sorted_composers)
print(composers)
#note we have done nothing to alter our first list.

['Bach', 'Bhoi', 'Debussy', 'Isang', 'Joplin', 'Rachmaninoff']
['Bach', 'Joplin', 'Bhoi', 'Debussy', 'Isang', 'Rachmaninoff']

In [39]:
#22. Please run this code:
composers.sort()
#Will permanently alter the order of your list
print(composers)

['Bach', 'Bhoi', 'Debussy', 'Isang', 'Joplin', 'Rachmaninoff']

In [40]:
#23. Please create a new list of numbers, but do not change the original list. Please first, 
#print the numbers to confirm the code to generate them worked.
import random
# this line of code allows me to create a 250 long list of random numbers between 10 and 1000.
numbers = random.sample(range(10,1000), 250)
print(numbers)
#Your code here:

[210, 557, 959, 978, 306, 49, 654, 556, 514, 301, 449, 240, 375, 353, 213, 216, 891, 83, 196, 729, 25, 904, 406, 581, 248, 335, 506, 491, 107, 750, 459, 902, 870, 392, 962, 184, 764, 925, 269, 884, 792, 388, 674, 646, 310, 827, 989, 686, 768, 748, 679, 477, 32, 976, 770, 276, 219, 96, 740, 615, 794, 11, 187, 499, 177, 766, 325, 810, 350, 179, 629, 724, 894, 186, 617, 75, 901, 510, 698, 160, 185, 320, 552, 162, 445, 983, 328, 80, 601, 293, 790, 926, 372, 344, 660, 897, 365, 383, 410, 662, 968, 469, 82, 126, 360, 873, 575, 661, 92, 163, 955, 782, 220, 361, 455, 100, 965, 867, 518, 79, 587, 416, 625, 622, 579, 423, 578, 856, 570, 39, 847, 751, 422, 821, 72, 787, 611, 337, 142, 916, 711, 960, 816, 632, 180, 940, 732, 127, 998, 912, 513, 432, 191, 936, 861, 475, 174, 717, 341, 944, 10, 161, 298, 974, 793, 252, 898, 346, 138, 273, 61, 738, 106, 586, 309, 840, 648, 450, 886, 380, 40, 70, 745, 297, 227, 595, 119, 814, 542, 633, 146, 367, 920, 852, 231, 969, 482, 149, 69, 985, 413, 463, 246, 291, 600, 230, 746, 512, 239, 426, 428, 505, 690, 460, 68, 606, 114, 403, 893, 775, 243, 984, 837, 716, 305, 620, 526, 630, 839, 351, 326, 529, 986, 854, 772, 744, 117, 54, 51, 270, 704, 545, 708, 831, 359, 24, 34, 377, 280, 62]

In [41]:
#24. How long is the list?
#Your code here:
print(len(numbers))

250

In [47]:
#25. Now reverse your list
#Your code here:
numbers.reverse()

print(numbers)

[62, 280, 377, 34, 24, 359, 831, 708, 545, 704, 270, 51, 54, 117, 744, 772, 854, 986, 529, 326, 351, 839, 630, 526, 620, 305, 716, 837, 984, 243, 775, 893, 403, 114, 606, 68, 460, 690, 505, 428, 426, 239, 512, 746, 230, 600, 291, 246, 463, 413, 985, 69, 149, 482, 969, 231, 852, 920, 367, 146, 633, 542, 814, 119, 595, 227, 297, 745, 70, 40, 380, 886, 450, 648, 840, 309, 586, 106, 738, 61, 273, 138, 346, 898, 252, 793, 974, 298, 161, 10, 944, 341, 717, 174, 475, 861, 936, 191, 432, 513, 912, 998, 127, 732, 940, 180, 632, 816, 960, 711, 916, 142, 337, 611, 787, 72, 821, 422, 751, 847, 39, 570, 856, 578, 423, 579, 622, 625, 416, 587, 79, 518, 867, 965, 100, 455, 361, 220, 782, 955, 163, 92, 661, 575, 873, 360, 126, 82, 469, 968, 662, 410, 383, 365, 897, 660, 344, 372, 926, 790, 293, 601, 80, 328, 983, 445, 162, 552, 320, 185, 160, 698, 510, 901, 75, 617, 186, 894, 724, 629, 179, 350, 810, 325, 766, 177, 499, 187, 11, 794, 615, 740, 96, 219, 276, 770, 976, 32, 477, 679, 748, 768, 686, 989, 827, 310, 646, 674, 388, 792, 884, 269, 925, 764, 184, 962, 392, 870, 902, 459, 750, 107, 491, 506, 335, 248, 581, 406, 904, 25, 729, 196, 83, 891, 216, 213, 353, 375, 240, 449, 301, 514, 556, 654, 49, 306, 978, 959, 557, 210]

## We learned to add elements, let's talk about how to get rid of them. There are three ways.
1. del (by index)

2. pop(last item)

3. remove(by item name)

In [51]:
#26. Please give an example of each of these techniques.
#Your code here:

#del
del numbers[1]

#pop
numbers.pop()

#remove
numbers.remove((449))

## Accessing and Changing elements:

In [52]:
#Accessing the first element in the list:
students = ['Austin', 'Chris', 'Oliver', 'Nancy']
first_student = students[0]
print(first_student)

Austin

In [55]:
#27. 

students = ['Austin', 'Chris', 'Oliver', 'Nancy']
#Please change Dana for Nancy. Before you go to ChatGPT, think about it. Nancy is in index position 3. 
#Can you just make index postion three of this variable equal to Dana, rather than Nancy?

#Your code here:

students[3] = 'Dana'
print(students)

['Austin', 'Chris', 'Oliver', 'Dana']

 ## Slicing lists
You can slice lists, just like you slice strings, by index.

In [56]:
#28.
composers =['Bach', 'Joplin', 'Bhoi', 'Debussy', 'Isang', 'Rachmaninoff']
#please slice this list to get a sublist containing Bhoi, Debussy, and Isang and assign it to a variable called 'sublist'
#Your code here:

sublist = composers[2:5]
print(sublist)

['Bhoi', 'Debussy', 'Isang']

In [58]:
#29. Please give me everything from the beginning to the fourth item using slicing
python_students = ['Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya', 'Didace', 'Jennifer']
#your code here:

sub_students = python_students[:4]
print(sub_students)

['Austin', 'Deven', 'Chris', 'Oliver']

In [60]:
#30.Please give me everything from the fifth item to the end:
python_students = ['Austin', 'Deven', 'Chris', 'Oliver', 'Nancy', 'Dana', 'Shreya', 'Didace', 'Jennifer']
#Your code here:

sub2_students = python_students[4:]
print(sub2_students)

['Nancy', 'Dana', 'Shreya', 'Didace', 'Jennifer']

## 31. Hacking Problem
The technique of trying every possible password to gain access to a password restricted website is called a brute-force attack. Loops, both for and while, make this very easy. This is part of the reason why a fairly unsophisticated hacker can still be successful.

Naughty people buy lists of passwords on the dark web and then use brute-force attacks to try to gain access to places they shouldn't be wandering. They often pay for their illicit purchases in bitcoin.

In order to fight wrongdoing, we must imagine the world from their perspective. Some never come back. Others are guided by strong core principles and understand right and wrong.

You are a hacker and have a budget of 3,200 Cape Verde Escudo to buy user passwords. On the AlphaBay Market on the dark web each password sells for .0008 BTC . Write a script that converts Escudo (based on current exchange rate) to dollars, and then dollars to bitcoin. Then output the number of passwords that you are able to buy.

In [61]:
#31a.Your code here:
cape = 3200
cape_usd = cape * 0.0097
btc = cape_usd * 0.000013
passwords = btc / 0.0008
print(passwords)

0.5044

Okay, you are off to a very naughty start.

The vendor was generous and gave you more passwords than you could afford. Write a script that calculates how many passwords you got for free in Cape Verde Escudo.

Passwords received: (please ignore italics as markdown interprets characters as commands. double click on markdown cell to access unaltered passwords)

3asdad, letmein@!, qwerty, abc123, trustno1, Ilovesandy, !!@@###123, pl,mjytce!, p@s
lf, 1q2w3e4r, letmein, iloveyou, password1, 1qaz2wsx, qazwsx, 12345, johnsp@ssw0rd, meandmymonkey, xboksrools, qwertyuiop, 77777, 888888, zaq1zaq1, 123qwe, excaliburr!, girlsrule!, @cce$$granted, iRulE!, pewdepieftw1, wtFstfUP, admin, master, sunshinesuzy, bobbyluvsdaBears!,qwertyuiop, w_uts_up, n0uger, aiden123, william123, sally123, pirsquareD, d0nutTreadonme, weedmn, MakeUSgr8, USA#1, FokiSiS, Footbahl, 2#22#1985, 11111, Dodgethis

In [62]:
#31b. Your code here:
passkeys = ['3asdad', 'letmein@!', 'qwerty', 'abc123', 'trustno1', 'Ilovesandy', '!!@@###123', 'pl,mjytce!', 'p@slf', '1q2w3e4r', 'letmein', 
            'iloveyou', 'password1', '1qaz2wsx', 'qazwsx', '12345', 'johnsp@ssw0rd', 'meandmymonkey', 'xboksrools', 'qwertyuiop', '77777', 
            '888888', 'zaq1zaq1', '123qwe', 'excaliburr!', 'girlsrule!', '@cce$$granted', 'iRulE!', 'pewdepieftw1', 'wtFstfUP', 'admin', 
            'master', 'sunshinesuzy', 'bobbyluvsdaBears!','qwertyuiop', 'w_uts_up', 'n0uger', 'aiden123', 'william123', 'sally123', 
            'pirsquareD', 'd0nutTreadonme', 'weedmn', 'MakeUSgr8', 'USA#1', 'FokiSiS', 'Footbahl', '2#22#1985', '11111', 'Dodgethis']
print(len(passkeys)-1)

49

Now you have some passwords that you can use to attempt a brute-force attack on a password protected account. Write a script that demonstrates how a brute force attack might work.

For the sake of this exercise, assume the user's password is: 1qaz2wsx

Your script should evaluate each one of the possible passwords. Output- "No, try again" when you hit a wrong password, and "You're in!" when you get it right. When you get it right, the script should stop running. This script should be automated so that it tries each password without you needing to enter it manually.

In [64]:
#31c. Your code here:

for password in passkeys:
    if password == '1qaz2wsx':
        print(f'You\'re in! It was {password}')
        break
    else: 
        print(f'No, try again, {password} is wrong')

No, try again, 3asdad is wrong
No, try again, letmein@! is wrong
No, try again, qwerty is wrong
No, try again, abc123 is wrong
No, try again, trustno1 is wrong
No, try again, Ilovesandy is wrong
No, try again, !!@@###123 is wrong
No, try again, pl,mjytce! is wrong
No, try again, p@slf is wrong
No, try again, 1q2w3e4r is wrong
No, try again, letmein is wrong
No, try again, iloveyou is wrong
No, try again, password1 is wrong
You're in! It was 1qaz2wsx