## HW Week 3

### 4.1 For Loops(20 pts)

4.1.1. Write a Python program that takes a list of numbers and prints each number multiplied by 2 using a for loop.

In [1]:
numbers = [1,2,3,4,5,6,7,8,9,10]
#your code here:
for number in numbers:
    print(number * 2)

2
4
6
8
10
12
14
16
18
20

4.1.2 Write a Python program that takes a list of strings and prints the length of each string using a for loop.

In [2]:
strings = ["apple", "banana", "cherry", "plum"]
#your code here:

for fruit in strings:
    print(len(fruit))

5
6
6
4

4.1.3 Write a Python program that takes the a string and prints each character in the string using a for loop.

In [3]:
string = "hello"
#your code here:
for char in string:
    print(char)

h
e
l
l
o

4.1.4 Write a Python program that takes a list of numbers and prints only the numbers that are greater than 5 using a for loop.

In [4]:
numbers = [1, 7, 4, 9, 2, 8, 22, 52, 6, 3]
#your code here:
for number in numbers:
    if number > 5:
        print(number)
    else:
        pass

7
9
8
22
52
6

4.1.5 Write a Python program that takes a list of strings and prints only the strings that start with the letter "a" using a for loop.

In [5]:
strings = ["apple", "banana", "avocado"]
#your code here:

for fruit in strings:
    if fruit.startswith("a"):
        print(fruit)
    else:
        pass

apple
avocado

4.1.6 Write a Python program that takes a list of strings and prints only the fruits that start with the letter "a" using a for loop.

In [6]:
strings = ["apple", "banana", "aardvark", "açaí", "ankles"]

#your code here:
for fruit in strings:
    if fruit.startswith("a"):
        print(fruit)
    else:
        pass

apple
aardvark
açaí
ankles

4.1.7 Write a Python program that takes a list of strings and populates three new lists: one called "short", one called "medium" and one called "long", defiend as following: "long" if the length of the string is greater than 5, "short" if the length is less than 5, and "medium" if the length is exactly 5 using a for loop and an if/elif/else condition.

In [8]:
strings = ["apple", "banana", "cherry", "date", "elderberry", "fig", "blueberry", "nectarine", "açaí" ]
short = []
medium = []
long = []

#your code here:
for fruit in strings:
    if len(fruit) > 5:
        long.append(fruit)
    elif len(fruit) < 5:
        short.append(fruit)
    else:
        medium.append(fruit)
print(short, medium, long)

['date', 'fig', 'açaí'] ['apple'] ['banana', 'cherry', 'elderberry', 'blueberry', 'nectarine']

4.1.8 Initialize an three empty lists, and write a Python program that fills those lists with positive, negative, and zero numbers using a for loop and if/elif/else conditions, and then prints the total number of each using an f string. The output should be, for example, "There are 5 negative numbers in the negative number list"

In [9]:
numbers = [1, -2, 0, 3, -4, 5, 0, -7, -9, 0, 2, 5]

zero = []
positive = []
negative = []
#your code here:

for number in numbers:
    if number > 0:
        positive.append(number)
    elif number < 0: 
        negative.append(number)
    else:
        zero.append(number)
print(f'There are {len(positive)} positive numbers, {len(negative)} negative numbers, and {len(zero)} zeroes.')

There are 5 positive numbers, 4 negative numbers, and 3 zeroes.

4.1.9 In the following list_of_lists, I really want to print 1, 2, 3, 4, 5, 6, 7, 8, 9 but when I use a for loop, I get something different. Try it below:

In [10]:
#Run this code:
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for x in list_of_lists:
    print(x)

[1, 2, 3]
[4, 5, 6]
[7, 8, 9]

The reason is because this is a list of lists. You can see that there are three lists within this single list. Can you access the lists within the list? Sure you can. You use a for loop within a for loop to do that as illustrated below

In [11]:
# check out this code and run it
list_of_lists = [[1, 2, 3], [4, 5, 6], [7, 8, 9]]
for outer_loop in list_of_lists:
    for inner_loop in outer_loop:
        print(inner_loop)

1
2
3
4
5
6
7
8
9

4.1.10 A palindrome is a word, sentence, verse, or even number that reads the same backward or forward. Write a Python program that takes a list of strings and prints only the strings that are palindromes using a for loop, if/else conditions, and string slicing.

In [12]:
strings = ["racecar", "banana", "level", "deified", "civic"]
#Your code here:
for word in strings:
    if word == word[::-1]:
        print(word)
    else:
        pass

racecar
level
deified
civic

### 4.2 Dictionaries (10pts)


4.2.1 Write a Python program that creates a dictionary called student with three key-value pairs: name: Alice, age:25, hometown: New York. Print the dictionary using the "print" function.

In [14]:
#Your code here:
student = {'name':'Alice', 'age':25, 'hometown': 'New York'}
print(student)

{'name': 'Alice', 'age': 25, 'hometown': 'New York'}

In [22]:
name = 'Alice'
age = 25
hometown = 'New York'

# Define category and value as lists
category = ['name', 'age', 'hometown']
value = [name, age, hometown]

# Create the dictionary by zipping categories and values
student = dict(zip(category, value))
print(student)

{'name': 'Alice', 'age': 25, 'hometown': 'New York'}

4.2.2 Access the value 25 from the dictionary above.

In [ ]:
#Your code here:
print(student['age'])

hometown
age
name

dict_keys(['hometown', 'age', 'name'])

4.2.3 Write two ways you could access all the keys from the dictionary above. Use a "method" and a for loop.

In [19]:
#Your code here:
for string in student.keys():
    print(string)

student.keys()

hometown
age
name

dict_keys(['hometown', 'age', 'name'])

4.2.4 Write two ways you could access all the values from the dictionary above. (Remember I introdcued how to use a for loop to access values in a dictionary).

In [20]:
#Your code here:
for string in student.values():
    print(string)

student.values()

25
New York
Alice

dict_values([25, 'New York', 'Alice'])

4.2.5 Look up the correct syntax for writing a for loop with dictionaries so that you print each key value pair in the dictionary above.

In [23]:
#Your code here:

for category, value in student.items(): # I looked this up on 
    print(f"Key: {category}, Value: {value}")

Key: name, Value: Alice
Key: age, Value: 25
Key: hometown, Value: New York

### 4.3 Lists (10pts)

4.3.1 Create a list called my_list with the following elements: "apple", "banana", "cherry", "date", and "elderberry". Then, use slicing to extract a sublist that includes only the second, third, and fourth elements. Print the resulting sublist.

In [25]:
#Your code here:
my_list = ["apple", "banana", "cherry", "date", "elderberry"]

sublist = my_list[1:4]
print(sublist)

['banana', 'cherry', 'date']

4.3.2 Create a list called numbers with the following elements: 2, 5, 1, 9, 8, 3, 6, and 4. Then, use the sort() method to sort the list in ascending order. Print the resulting sorted list.

In [26]:
#Your code here:
numbers = [2, 5, 1, 9, 8, 3, 6, 4]
numbers.sort()
print(numbers)

[1, 2, 3, 4, 5, 6, 8, 9]

4.3.3 Create two lists: list1 with the following elements: "apple", "banana", and "cherry", and list2 with the following elements: "date", "elderberry", and "fig". Then, use the extend() method to add the elements of list2 to list1. Print the resulting combined list.

In [30]:
#Your code here:
list1 = ['apple', 'banana', 'cherry']
list2 = ['date', 'elderberry', 'fig']

list1.extend(list2)
print(list1)

['apple', 'banana', 'cherry', 'date', 'elderberry', 'fig']

4.3.4 Create a list called numbers with the following elements: 2, 5, 1, 9, 8, 3, 6, and 4. Then, use the remove() method to remove the element 9 from the list. Print the resulting modified list.

In [31]:
#Your code here:
numbers = [2, 5, 1, 9, 8, 3, 6, 4]
numbers.remove(9)
print(numbers)

[2, 5, 1, 8, 3, 6, 4]

4.3.5 Create a list called fruits with the following elements: "apple", "banana", "cherry", and "date". Then, use the insert() method to insert the element "elderberry" at the second position in the list. Print the resulting modified list.

In [32]:
#Your code here:
fruits = ["apple", "banana", "cherry", "date"]
fruits.insert(1, 'elderberry')
print(fruits)

['apple', 'elderberry', 'banana', 'cherry', 'date']

### 4.5 Random (10 pts)
There is a module in python called "random". It allows you to generate random integers and letters. You import modules in Python using the "import statement." (Note: The Anaconda distribution of Python you used to load Python comes with a number of built in packages, so if you use import, Python may respond that you have already installed that). The syntax for importing numbers is as follows:

In [34]:
import random
# I am asking random to generate a random number between 1 and 100 and
#assigning it to the variable some_number
some_number = random.randint(1,100)
print(some_number)

78


4.5.1 Write a script that generates a random number between one and ten and gives a user five tries to get the right number. Count the number of guesses. When the user does not guess it right, print an encouraging statement that they should keep trying, how many guesses they have left, and whether if their guess was too high or too low. Make sure you are tracking the number of guesses. When the user gets the number right, print "You got it!" and end the program

In [ ]:
import random

answer = random.randint(1, 10)
#print(answer)
tries = 5

guess = int(input('Guess a number between 1 and 10!'))

while tries > 0:
    if guess > answer:
        tries -= 1
        if tries > 0:
            guess = int(input(f'Too high, give it another go, you have {tries} tries left.'))
    elif guess < answer:
        tries -= 1
        if tries > 0:
            guess = int(input(f'Too low, try again, you have {tries} tries left.'))
    else:
        print(f'You got it! It was {answer}!')
        break

if tries == 0 and guess != answer:
    print(f'Nice try, it was {answer}.')

7
Nice try, it was 7.


4.5.2 Short answer: What's the most efficient way to guess a correct number given these clues?

Use your words here: Guess the middle

4.6 : Clean Up (10pts)
Write a for loop that returns a list of surnames of Nobel Peace Prize Winners.

In [53]:
nobel_messy = [['Xiabobo', '!', ',', ':', ',', '@@', '%','^','&', 'King','Sato', '1945'],['Nuclear', 'Chemical'], ['Obama', 'Sirleaf', 'Walesa', 'Robles']]
# your code here: 
nobel_winners = []
common_list = nobel_messy[1]

for list in nobel_messy:
    for word in list:
        if word.isalpha() == True and word not in common_list:
            nobel_winners.append(word)
        else:
            pass

print(nobel_winners)

['Xiabobo', 'King', 'Sato', 'Obama', 'Sirleaf', 'Walesa', 'Robles']

### 4.6 Built in DATA STRUCTURES in Python (A review) (20pts)

Python offers a variety of built-in data structures, each with its unique features and uses. Here's a comprehensive list of Python's primary data structures:

Built-in Data Structures

**List**: An **ordered, mutable** collection of items that can be of mixed types. Lists are defined with square brackets [].

**Tuple**: An **ordered, immutable** collection of items that can be of mixed types. Tuples are defined with parentheses ().

**Set**: An **unordered** collection of unique items. Sets are **mutable**, do not allow duplicates, and are defined with curly braces {} or the set() function for an empty set.

**Dictionary (Dict)**: A collection of key-value pairs where keys are unique. Dictionaries are **mutable and ordered** by insertion order (as of Python 3.7+). They are defined with curly braces {} with key-value pairs separated by colons.

4.6.1 Tuples: When Order Matters
Tuples preserve the order of elements, just like lists. If you need to store data in a specific order and ensure that this order doesn’t change, a tuple is useful.

Write a Python script that loops through the list of birth dates.

For each birth date, print the message:
"Person born on Day/Month/Year" (replace with the actual values from the tuple).
Use a for loop to go through each tuple.

In [56]:


people = [
    ("Alice", 2000, 5, 12),
    ("Bob", 1995, 7, 22),
    ("Li Wei", 2010, 3, 15),
    ("Aarav", 1988, 1, 30),
    ("Mei Ling", 1999, 12, 25),
    ("Priya", 1996, 8, 18),
    ("Zhang Wei", 1992, 9, 5),
    ("Ananya", 2003, 11, 3)
]

#Your code here: 

for tuple in people:
    print(f'{tuple[0]} born on {tuple[3]}/{tuple[2]}/{tuple[1]}')

Alice born on 12/5/2000
Bob born on 22/7/1995
Li Wei born on 15/3/2010
Aarav born on 30/1/1988
Mei Ling born on 25/12/1999
Priya born on 18/8/1996
Zhang Wei born on 5/9/1992
Ananya born on 3/11/2003

4.6.2 Sets: Using Intersections and Unions of Sets


Problem:
You are working with two groups of students who attended different workshops.

Group A attended a Python workshop: {"Alice", "Bob", "Charlie", "David", "Eva"}.
Group B attended a Data Science workshop: {"Charlie", "Eva", "Frank", "Grace", "Henry"}.

Hints:
Use the intersection() method to find common students.
Use the union() method to combine the two groups.
Use the difference() method to find students exclusive to the Python workshop.


Difference: Write a script that finds the students who attended the Python workshop but not the Data Science workshop.

In [61]:
#Your code here:
A = {"Alice", "Bob", "Charlie", "David", "Eva"}
B = {"Charlie", "Eva", "Frank", "Grace", "Henry"}

print(A.intersection(B))

print(A.union(B))

print(A.difference(B))

{'Eva', 'Charlie'}
{'Bob', 'David', 'Grace', 'Charlie', 'Eva', 'Alice', 'Frank', 'Henry'}
{'Alice', 'Bob', 'David'}

Intersection: Write a Python script that finds the students who attended both workshops (i.e., students who are in both groups).

In [62]:
#Your code here:
print(A.intersection(B))

{'Eva', 'Charlie'}

Union: Write a Python script that finds the total number of unique students who attended at least one of the workshops (i.e., all students from both groups).

In [63]:
#Your code here:
print(A.union(B))

{'Bob', 'David', 'Grace', 'Charlie', 'Eva', 'Alice', 'Frank', 'Henry'}

For loop and add
You are tasked with building a set of unique even numbers from a list of random numbers using a for loop and the add() method.

1. Create a list of numbers: [4, 7, 8, 10, 15, 8, 20, 22, 4, 30, 7, 35].

2. Write a Python script that iterates through the list using a for loop.

3. Use the add() method to add only the even numbers to a set. Remember, sets only store unique elements, so duplicates won’t be added.

4. After the loop finishes, print the set of even numbers.

Hints:
Use the modulo operator (%) to check if a number is even (number % 2 == 0).
Initialize an empty set (even_numbers = set()) and use the add() method inside the loop to add even numbers to the set.

In [64]:
#Your code here:
numbers = [4, 7, 8, 10, 15, 8, 20, 22, 4, 30, 7, 35]
even = []
for number in numbers:
    if number%2 == 0:
        even.append(number)
    else:
        pass

for num in even:
    print(num)

4
8
10
8
20
22
4
30

##### 4.7 Pig Latin Translator ¶(15pts)

"Pig Latin" is a pseudo language.  Several cultures use it, or variations of it. Germans call it Kedelkloppersprook; in Swedish, it’s Fikonspråket, alfabeto farfallino in Italian, loucherbem in French, Jeringonza in Spanish. 

In English you remove the first letter of the word, and then move that letter to the end of the word and add 'ay'. So "Car" would be "Arcay" ... "Professor" would be "rofessorpay".

Write code that translates a name into (simplified) Pig Latin.  Have your script ask the user for his or her name, which can comprise first, middle, and/or last parts. 

Make sure that only the first letter of each word in your output is capitalized. You can use the split() method on the string to create a list of the name parts. Be sure that your script can handle one, two or three name parts separated by spaces. This will likely involve a loop.

Your script should re-create the following example exactly:

Enter your name: Casey King

Aseycay Ingkay

In [74]:
word = input('Enter your name: ')
words = word.split()
pig_translated = []

for name in words:
    pig = name[1:len(word)] + name[0] + 'ay'
    pig_translated.append(pig.capitalize())

print(' '.join(pig_translated))

Aseycay Ingkay

### 4.8 DDOS Attack (15pts)

A distributed denial-of-service (DDoS) attack is a malicious attempt to disrupt normal traffic of a targeted server, service or network by overwhelming the target or its surrounding infrastructure with a flood of data or inputs.

4.8.1(5pts)
Write a simple example of a DoS attack on a user input statement using a for loop that executes for 100 iterations.

In [78]:
#Your code here:

print(range(1,100))

for attempt in range(1, 100):
    alpha = input('Give :')

range(1, 100)

4.8.2(5pts)
Write a simple example of a DoS attack on a user input statement using a while loop that executes for 100 iterations.

In [ ]:
#Your code here:
n = 100
while n > 0:
    beta = input('Give: ')
    n -= 1